var ux_carousel = [KEY]
<div id="myCarousel" class="carousel slide ux-carousel" data-ride="carousel">
    <ol class="carousel-indicators">
        {{#each carouselItems: i}}
        <li data-target="#myCarousel" data-slide-to="{{i}}" class="{{#if i==0 }} active{{/if}}"></li>
        {{/each}}
    </ol>
    <div class="carousel-inner" role="listbox">
        {{#each carouselItems: i}}
        <div class="item {{#if i==0 }} active{{/if}} carousel-inner-height">
            <img class="first-slide" src="{{icon_img}}" alt="First slide">
            <div class="container">
                <div class="carousel-caption">
                    <p>{{description}}</p>
                    <p><button type="button" on-click="onBuyNowClick" class="button">&nbsp;&nbsp;Buy Now &nbsp; &nbsp;</button></p>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
</div>
[KEY];