var ux_generic_box = [KEY]
{{#each products:index}}
<div class="ux-generic-box">
    <div class="col-md-3 data">
        <div on-click="onUserSelection" product="{{.}}"  class="product">
            <div class="pager">
                <img src="{{icon_img}}" alt="Not Found" />
                <div class="v-small product-material">{{material}}</div>
                <div class="v-small product-category">{{category}}</div>
                <div class="product-new-price">Starting &#x20B9;{{startprice}}</div>
                <div class="product-discount">Min off {{discount}}%</div>
            </div>
        </div>
    </div>
</div>
{{/each}} [KEY];