var ux_header=[KEY]
<div class="ux-header v-large-bottom">
    <div class="row  margin-zero p-x-large-bottom"></div>
    <nav class="navbar navbar-fixed-top">
        <div class="container">
            <div class="p-medium-left navbar-header">
                <a class="navbar-brand"><img src="/img/logo.jpg" alt="Logo"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    
                </ul>
                <ul class="nav navbar-nav navbar-right p-normal-right">
                    <li><br>Shop No. 9<br>Opp New Muncipal Corp.<br>Ambad, Jalna- 431204.<br> Mob 9423156149
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
</div>
[KEY];