 var ux_product_details = [KEY] {{#with product}}
<div class="ux-product-details">
    <div class="v-normal product-name" style="">{{name}}</div>
    <div class="v-normal">{{{description}}}</div>
    <div class="product-new-price">&#x20B9;{{parseFloat(price * weight).toFixed(2)}} <span class="details"> (Incl. 1.5% SGST + 1.5%CGST + Making charges per gm)</span></div>
    <button type="button" class="button v-large-top" data-toggle="modal" data-target="#myModal"> Buy Now</button>
</div>
{{/with}}[KEY];