.v-none-padding {
  padding: 0 !important; }

.v-none-padding-left {
  padding-left: 0 !important; }

.p-right-none {
  padding-right: 0 !important; }

.v-none-bottom {
  margin-bottom: 0 !important; }

.v-none-top {
  margin-top: 0 !important; }

.v-none-left {
  margin-left: 0 !important; }

.v-none-right {
  margin-right: 0 !important; }

.v-normal {
  margin-top: 20px !important;
  margin-bottom: 20px !important; }

.v-medium-left {
  margin-left: 10px !important; }

.v-small-left {
  margin-left: 5px !important; }

.p-medium-top {
  padding-top: 10px !important; }

.p-medium-bottom {
  padding-bottom: 10px !important; }

.p-medium-left {
  padding-left: 10px !important; }

.p-medium-right {
  padding-right: 10px !important; }

.p-normal-left {
  padding-left: 20px !important; }

.v-normal-top {
  margin-top: 20px !important; }

.v-normal-bottom {
  margin-bottom: 20px !important; }

.v-normal-left {
  margin-left: 20px !important; }

.v-normal-right {
  margin-right: 20px !important; }

.p-normal-right {
  padding-right: 20px !important; }

.p-medium-right {
  padding-right: 10px !important; }

.p-medium-left {
  padding-left: 10px !important; }

.p-normal-left {
  padding-left: 20px !important; }

.v-medium {
  margin-bottom: 10px !important;
  margin-top: 10px !important; }

.v-medium-top {
  margin-top: 10px !important; }

.v-medium-bottom {
  margin-bottom: 10px !important; }

.v-medium-left {
  margin-left: 10px !important; }

.v-medium-right {
  margin-right: 10px !important; }

.v-default {
  margin-bottom: 16px !important;
  margin-top: 16px !important; }

.v-default-top {
  margin-top: 16px !important; }

.v-default-bottom {
  margin-bottom: 16px !important; }

.v-default-left {
  margin-left: 16px !important; }

.v-default-right {
  margin-right: 16px !important; }

.v-small {
  margin-bottom: 5px !important;
  margin-top: 5px !important; }

.v-small-top {
  margin-top: 5px !important; }

.v-small-bottom {
  margin-bottom: 5px !important; }

.v-small-left {
  margin-left: 5px !important; }

.v-small-right {
  margin-right: 5px !important; }

.v-large {
  margin-bottom: 40px !important;
  margin-top: 40px !important; }

.v-large-top {
  margin-top: 40px !important; }

.v-large-bottom {
  margin-bottom: 40px !important; }

.v-xx-large {
  margin-bottom: 80px !important;
  margin-top: 80px !important; }

.v-xx-large-top {
  margin-top: 80px !important; }

.v-xx-large-bottom {
  margin-bottom: 80px !important; }

.v-x-large-top {
  margin-top: 60px !important; }

.v-x-large-bottom {
  margin-bottom: 60px !important; }

.v-2x-large-top {
  margin-top: 50px !important; }

.v-2x-large-bottom {
  margin-bottom: 50px !important; }

.v-small-large-top {
  margin-top: 30px !important; }

.v-small-large-bottom {
  margin-bottom: 30px !important; }

.v-xx-large-left {
  margin-left: 80px !important; }

.v-xx-large-right {
  margin-right: 80px !important; }

.v-large-left {
  margin-left: 40px !important; }

.p-large-left {
  padding-left: 40px !important; }

.p-large-right {
  padding-right: 40px !important; }

.v-large-right {
  margin-right: 40px !important; }

.p-none-left {
  padding-left: 0 !important; }

.p-none-right {
  padding-right: 0 !important; }

.p-xlarge {
  padding: 60px !important; }

.p-none-top {
  padding-top: 0 !important; }

.p-small-top {
  padding-top: 5px !important; }

.p-normal-top {
  padding-top: 20px !important; }

.p-large-top {
  padding-top: 40px !important; }

.p-none-bottom {
  padding-bottom: 0 !important; }

.p-small-bottom {
  padding-bottom: 5px !important; }

.p-normal-bottom {
  padding-bottom: 20px !important; }

.p-x-large-bottom {
  padding-bottom: 60px !important; }

.p-x-large-top {
  padding-top: 60px !important; }

.p-xx-large-top {
  padding-top: 80px !important; }

.p-xx-large-bottom {
  padding-bottom: 80px !important; }

.p-large-bottom {
  padding-bottom: 40px !important; }

.margin-auto {
  margin: auto; }

.margin-zero {
  margin: 0 !important; }

.border-bottom {
  border-bottom: 2px solid #F6F5F5; }

.ux-header {
  text-align: center;
  width: 100%;
  font-family: Verdana;
  font-style: oblique;
  padding: 24px 0; }
  .ux-header .navbar-brand {
    float: left;
    height: 85px;
    width: 100%;
    padding: 0;
    font-size: 18px;
    line-height: 20px; }
    .ux-header .navbar-brand img {
      height: 100%;
      width: 100%; }

.ux-footer {
  text-align: center;
  bottom: 0;
  width: 100%;
  border-top: 2px solid #FFF;
  font-family: Verdana;
  padding: 24px 0;
  color: #FF6C2C;
  box-shadow: 1px 2px 6px 2px #d6d6d6; }
  .ux-footer .poweredBy {
    text-align: right;
    font-style: italic;
    padding: 0 40px 0 0; }

.ux-image {
  text-align: center;
  min-height: 280px;
  height: 280px; }
  .ux-image img {
    height: 100%;
    width: 100%; }

.ux-image-gallery .gallery-image {
  height: 380px;
  width: 100%;
  border-radius: 4px; }

.ux-image-gallery .image-selection-area {
  text-align: center;
  height: 100px; }
  .ux-image-gallery .image-selection-area img {
    height: 100%;
    width: 100%; }

.ux-image-gallery .selected {
  border: 2px solid green;
  border-radius: 5px; }

.ux-product-catalog .data {
  padding: 10px; }

.ux-product-catalog .product {
  cursor: pointer;
  border-radius: 4px;
  background: #FFF;
  box-shadow: 1px 2px 2px 1px #d6d6d6;
  color: #231f20;
  padding: 1.25rem; }

.ux-product-catalog .product-name {
  font-family: Verdana;
  font-size: 20px;
  color: #999;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 22px; }

.ux-product-catalog .product-new-price {
  font-weight: bold; }

.ux-product-catalog .product-old-price {
  font-weight: lighter;
  color: #e42c42;
  text-decoration: line-through; }

.ux-product-catalog .product-discount {
  font-weight: bold;
  color: #388e3c; }

.ux-product-details .product-name {
  font-family: Verdana;
  font-size: 24px;
  color: #999;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 22px; }

.ux-product-details .product-new-price {
  font-weight: bold;
  font-size: 24px; }
  .ux-product-details .product-new-price .details {
    font-size: 14px;
    color: #636B68; }

.ux-product-details .product-discount {
  font-weight: bold;
  color: #388e3c;
  font-size: 16px; }

.ux-carousel .carousel-inner-height {
  height: 400px;
  width: 100%; }
  .ux-carousel .carousel-inner-height img {
    height: 100%;
    width: 100%;
    padding: unset;
    box-sizing: border-box; }

.ux-generic-box .data {
  padding: 10px; }

.ux-generic-box .product {
  cursor: pointer;
  border-radius: 4px;
  background: #FFF;
  box-shadow: 1px 2px 2px 1px #d6d6d6;
  color: #231f20;
  padding: 1.25rem; }
  .ux-generic-box .product img {
    width: 100%;
    min-height: 230px;
    height: 230px; }

.ux-generic-box .product-material {
  font-family: Verdana;
  font-size: 20px;
  color: #999;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 22px; }

.ux-generic-box .product-category {
  font-weight: bold;
  color: #999; }

.ux-generic-box .product-new-price {
  font-weight: bold; }

.ux-generic-box .product-old-price {
  font-weight: lighter;
  color: #e42c42;
  text-decoration: line-through; }

.ux-generic-box .product-discount {
  font-weight: bold;
  color: #388e3c; }

html {
  position: relative;
  min-height: 100%; }

body {
  /* Margin bottom by footer height */
  background: #F6F5F5 !important;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0a0e0a+0,aebcbf+14,aebcbf+14,aebcbf+17,0a0e0a+37,6e7774+65,0a0809+83 */
  background: #0a0e0a !important;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #0a0e0a 0%, #aebcbf 14%, #aebcbf 14%, #aebcbf 17%, #0a0e0a 37%, #6e7774 65%, #0a0809 83%) !important;
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #0a0e0a 0%, #aebcbf 14%, #aebcbf 14%, #aebcbf 17%, #0a0e0a 37%, #6e7774 65%, #0a0809 83%) !important;
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #0a0e0a 0%, #aebcbf 14%, #aebcbf 14%, #aebcbf 17%, #0a0e0a 37%, #6e7774 65%, #0a0809 83%) !important;
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a0e0a', endColorstr='#0a0809', GradientType=1) !important;
  /* IE6-9 fallback on horizontal gradient */ }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px; }

body > .container {
  padding: 60px 15px 0; }

.container .text-muted {
  margin: 20px 0; }

.footer > .container {
  padding-right: 15px;
  padding-left: 15px; }

.ux-carousel .carousel-inner-height {
  height: 400px;
  width: 100%; }
  .ux-carousel .carousel-inner-height img {
    height: 100%;
    width: 100%;
    padding: unset;
    box-sizing: border-box; }

.ux-generic-box .data {
  padding: 10px; }

.ux-generic-box .product {
  cursor: pointer;
  border-radius: 4px;
  background: #FFF;
  box-shadow: 1px 2px 2px 1px #d6d6d6;
  color: #231f20;
  padding: 1.25rem; }
  .ux-generic-box .product img {
    width: 100%;
    min-height: 230px;
    height: 230px; }

.ux-generic-box .product-material {
  font-family: Verdana;
  font-size: 20px;
  color: #999;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 22px; }

.ux-generic-box .product-category {
  font-weight: bold;
  color: #999; }

.ux-generic-box .product-new-price {
  font-weight: bold; }

.ux-generic-box .product-old-price {
  font-weight: lighter;
  color: #e42c42;
  text-decoration: line-through; }

.ux-generic-box .product-discount {
  font-weight: bold;
  color: #388e3c; }
