.v-none-padding {
  padding: 0 !important; }

.v-none-padding-left {
  padding-left: 0 !important; }

.p-right-none {
  padding-right: 0 !important; }

.v-none-bottom {
  margin-bottom: 0 !important; }

.v-none-top {
  margin-top: 0 !important; }

.v-none-left {
  margin-left: 0 !important; }

.v-none-right {
  margin-right: 0 !important; }

.v-normal {
  margin-top: 20px !important;
  margin-bottom: 20px !important; }

.v-medium-left {
  margin-left: 10px !important; }

.v-small-left {
  margin-left: 5px !important; }

.p-medium-top {
  padding-top: 10px !important; }

.p-medium-bottom {
  padding-bottom: 10px !important; }

.p-medium-left {
  padding-left: 10px !important; }

.p-medium-right {
  padding-right: 10px !important; }

.p-normal-left {
  padding-left: 20px !important; }

.v-normal-top {
  margin-top: 20px !important; }

.v-normal-bottom {
  margin-bottom: 20px !important; }

.v-normal-left {
  margin-left: 20px !important; }

.v-normal-right {
  margin-right: 20px !important; }

.p-normal-right {
  padding-right: 20px !important; }

.p-medium-right {
  padding-right: 10px !important; }

.p-medium-left {
  padding-left: 10px !important; }

.p-normal-left {
  padding-left: 20px !important; }

.v-medium {
  margin-bottom: 10px !important;
  margin-top: 10px !important; }

.v-medium-top {
  margin-top: 10px !important; }

.v-medium-bottom {
  margin-bottom: 10px !important; }

.v-medium-left {
  margin-left: 10px !important; }

.v-medium-right {
  margin-right: 10px !important; }

.v-default {
  margin-bottom: 16px !important;
  margin-top: 16px !important; }

.v-default-top {
  margin-top: 16px !important; }

.v-default-bottom {
  margin-bottom: 16px !important; }

.v-default-left {
  margin-left: 16px !important; }

.v-default-right {
  margin-right: 16px !important; }

.v-small {
  margin-bottom: 5px !important;
  margin-top: 5px !important; }

.v-small-top {
  margin-top: 5px !important; }

.v-small-bottom {
  margin-bottom: 5px !important; }

.v-small-left {
  margin-left: 5px !important; }

.v-small-right {
  margin-right: 5px !important; }

.v-large {
  margin-bottom: 40px !important;
  margin-top: 40px !important; }

.v-large-top {
  margin-top: 40px !important; }

.v-large-bottom {
  margin-bottom: 40px !important; }

.v-xx-large {
  margin-bottom: 80px !important;
  margin-top: 80px !important; }

.v-xx-large-top {
  margin-top: 80px !important; }

.v-xx-large-bottom {
  margin-bottom: 80px !important; }

.v-x-large-top {
  margin-top: 60px !important; }

.v-x-large-bottom {
  margin-bottom: 60px !important; }

.v-2x-large-top {
  margin-top: 50px !important; }

.v-2x-large-bottom {
  margin-bottom: 50px !important; }

.v-small-large-top {
  margin-top: 30px !important; }

.v-small-large-bottom {
  margin-bottom: 30px !important; }

.v-xx-large-left {
  margin-left: 80px !important; }

.v-xx-large-right {
  margin-right: 80px !important; }

.v-large-left {
  margin-left: 40px !important; }

.p-large-left {
  padding-left: 40px !important; }

.p-large-right {
  padding-right: 40px !important; }

.v-large-right {
  margin-right: 40px !important; }

.p-none-left {
  padding-left: 0 !important; }

.p-none-right {
  padding-right: 0 !important; }

.p-xlarge {
  padding: 60px !important; }

.p-none-top {
  padding-top: 0 !important; }

.p-small-top {
  padding-top: 5px !important; }

.p-normal-top {
  padding-top: 20px !important; }

.p-large-top {
  padding-top: 40px !important; }

.p-none-bottom {
  padding-bottom: 0 !important; }

.p-small-bottom {
  padding-bottom: 5px !important; }

.p-normal-bottom {
  padding-bottom: 20px !important; }

.p-large-bottom {
  padding-bottom: 40px !important; }

.margin-auto {
  margin: auto; }

html {
  position: relative;
  min-height: 100%; }

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color:  #F6F5F5; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px; }

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
body > .container {
  padding: 60px 15px 0; }

.container .text-muted {
  margin: 20px 0; }

.footer > .container {
  padding-right: 15px;
  padding-left: 15px; }
