.ux-header {
    text-align: center;
    width: 100%;
    font-family: Verdana;
    font-style: oblique;
    padding: 24px 0;
    .navbar-brand {
        float: left;
        height: 85px;
        width: 100%;
        padding: 0;
        font-size: 18px;
        line-height: 20px;
        img {
            height: 100%;
            width: 100%;
        }
    }
}