.ux-footer {
    text-align: center;
    bottom: 0;
    width: 100%;
    border-top: 2px solid #FFF;
    font-family: Verdana;
    padding: 24px 0;
    color: #FF6C2C;
    box-shadow: 1px 2px 6px 2px #d6d6d6;
    .poweredBy {
        text-align: right;
        font-style: italic;
        padding: 0 40px 0 0;
    }
}