.ux-product-details {
    .product-name {
        font-family: Verdana;
        font-size: 24px;
        color: #999;
        font-style: normal;
        font-variant: normal;
        font-weight: 400;
        line-height: 22px;
    }
    .product-new-price {
        font-weight: bold;
        font-size: 24px;
        .details {
            font-size: 14px;
            color: #636B68;
        }
    }
    .product-discount {
        font-weight: bold;
        color: #388e3c;
        font-size: 16px;
    }
}