@import "_spaccing";
@import "ux-header";
@import "ux-slider";
@import "ux-footer";
@import "ux-image";
@import "ux-image-gallery";
@import "ux-image-url-box";
@import "ux-specification-box";
@import "ux-prouct-specification";
@import "ux-product-catalog";
@import "ux-product-details";
@import "ux-carousel";
@import "ux-generic-box";

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  background: #F6F5F5 !important;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
